:root {
  --primary-dark-: #002626;
  --primary-light-: #d9e9e8;
}

body {
  background-color: var(--primary-light-);
}

h1,
h2,
h3,
a,
p {
  color: var(--primary-light-);
}

a,
a:hover,
a:focus {
  color: black;
}

.navbar-nav > .nav-link {
  color: var(--primary-light-);
}

.navbar {
  background-color: var(--primary-dark-);
}

.navbar-nav > a {
  font-weight: 500;
}

.fa-solid,
.navbar-toggler {
  color: var(--primary-light-);
}

#brand-title {
  text-decoration: none;
}

#brand-title > h1 {
  border: 2px solid var(--primary-light-);
  border-radius: 5px;
  font-size: 2em;
  padding: 8px 12px 8px 12px;
}

#title-container {
  display: flex;
  justify-content: center;
}

@media (min-width: 992px) {
  #title-container {
    justify-content: flex-start;
    margin-left: 1rem;
    margin-bottom: 0.8rem;
  }
}
